# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers d'environnement virtuels
venv/
.venv/
env/
.env

# Données brutes - NE PAS COMMITTER
data/raw/

# Node modules
frontend/node_modules/
node_modules/

# Fichiers generes
*.ttl
*.log
