# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers d'environnement virtuels
venv/
.venv/
env/

# Variables d'environnement (contiennent des clés API)
.env
frontend/.env

# Données brutes - NE PAS COMMITTER
data/raw/

# Node modules
frontend/node_modules/
node_modules/

# Build React (genere par npm run build)
frontend/build/

# Fichiers generes
*.log
